body {
  font-family: Helvetica, sans-serif ;
	font-size: small ;
}

h1 {
  text-align: center ;
}

a.header_link {
	 border: 1px solid #999999 ;
	 padding: 4px ;
  background-color: #FFFFCC ;
  font-weight: bold ;
}

a:visited, a:link, a:active{
 color: blue ;
 text-decoration: underline ;
}

a:hover {
  color:green ;
  background-color: #FF9966 ;
  text-decoration: none ;
}

table.title {
  width: 100% ;
	border: 1px solid #999999 ;
  background-color: yellow ;
  font-weight: bold ;
	text-align: center ;
}

table.result {
	border: 1px solid #999999 ;
}

tr.result_line {
  background-color: #EEEEEE ;
}

tr.result_title {
  background-color: #CCFFFF ;
  font-weight: bold ;
}

span.error {
  font-weight: bold ;
  color: red ;
}

span.warning {
  font-weight: bold ;
  color: #FF9966 ;
}

span.success {
  font-weight: bold ;
  color: green ;
}

span.list {
  display: block ;
  line-height: 100% ;
}


